{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<div align='center'>
<a href='https://clustrmaps.com/site/1bz85'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=300&t=n&d=VAtlPDTmWZg5LNhxQiNGugG-iS-TTaZCiidSfPYO7uk&co=2d78ad&ct=ffffff'/></a>
</div>
<div align='center'>
  You are visitor number<a href="https://www.cutercounter.com/traditional-chinese-nn/" target="_blank"><img src="https://www.cutercounter.com/hits.php?id=hxpfckf&nd=6&style=5" border="0" alt="免費計數器"></a>
  
</div>
