{% include base_path %}
{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<style>a{text-decoration: none;}</style>
<!--期刊和会议的排序按，我们老师一作，通讯这样拍，然后一作里面按期刊质量排序-->

<!--期刊论文-->
<h1 id="publications">Publications</h1>
<p><b>Journals</b>: </p>
<ul>
<!--一篇文章一个 li，最新发表的放在最上面,没有code就把code删了-->

<!--paper1-->
<li style="margin-bottom: 1.5;">
<span>
<b>Yue Wu</b>, Jiaming Liu, Maoguo Gong, Qiguang Miao, Wenping Ma, Cai Xu,
“Joint Semantic Segmentation using representations of LiDAR point clouds and camera images", 
<i>Information Fusion (<b>inffus</b>)</i>, pp. 1566-2535, 2024.(<b>CCF A, IF=18.6</b>) 
[<a href= "https://www.sciencedirect.com/science/article/abs/pii/S1566253524001489" target="_blank">Paper</a>]
[<a href= "https://github.com/ywu0912/TeamCode.git" target="_blank">Code</a>]
</span>
</li>
<!--paper2-->
<li style="margin-bottom: 1.5;">
    <span>
    <b>Yue Wu</b>, Jiaming Liu, Maoguo Gong, Peiran Gong, Xiaolong Fan, AK Qin, Qiguang Miao, Wenping Ma,
    “Self-Supervised Intra-Modal and Cross-Modal Contrastive Learning for Point Cloud Understanding", 
    <i>IEEE Transactions on Multimedia (<b>TMM</b>)</i>, pp. 1626-1638, 2024.
    [<a href= "https://ieeexplore.ieee.org/document/10147273" target="_blank">Paper</a>]
    [<a href= "https://github.com/liujia99/CrossNet" target="_blank">Code</a>] 
    </span>
</li>
<!--paper3-->
<li style="margin-bottom: 1.5;">
    <span>
    <b>Yue Wu</b>, Yue Zhang, Wenping Ma, Maoguo Gong, Xiaolong Fan, Mingyang Zhang, AK Qin, Qiguang Miao,
    “Rornet: Partial-to-partial registration network with reliable overlapping representations", 
    <i>IEEE Transactions on Neural Networks and Learning Systems (<b>TNNLS</b>)</i>, pp. 6-30, 2023.(<b>IF=10.4</b>) 
    [<a href= "https://ieeexplore.ieee.org/document/10168979" target="_blank">Paper</a>]
    [<a href= "https://github.com/superYuezhang/RORNet" target="_blank">Code</a>] 
    </span>
    </li>
<!--paper4-->
<li style="margin-bottom: 1.5;">
    <span>
    <b>Yue Wu</b>, Xidao Hu, Yue Zhang, Maoguo Gong, Wenping Ma, Qiguang Miao,
    “SACF-Net: Skip-attention based correspondence filtering network for point cloud registration", 
    <i>IEEE Transactions on Circuits and Systems for Video Technology (<b>TCSVT</b>)</i>, pp. 1-16, 2023.
    [<a href= "https://ieeexplore.ieee.org/abstract/document/10018266" target="_blank">Paper</a>]
    [<a href= "https://github.com/HXDao/SACF-Net" target="_blank">Code</a>] 
    </span>
    </li>

<!--paper5-->
<li style="margin-bottom: 1.5;">
    <span>
    <b>Yue Wu</b>, Jiaming Liu, Maoguo Gong, Zhixiao Liu, Qiguang Miao, Wenping Ma,
    “MPCT: Multiscale Point Cloud Transformer with a Residual Network", 
    <i>IEEE Transactions on Multimedia (<b>TMM</b>)</i>, pp. 9-12, 2023.
    [<a href= "https://ieeexplore.ieee.org/document/10249213" target="_blank">Paper</a>]
    [<a href= "https://github.com/ywuchina/TeamCode/blob/main/MindSpore%20Project/MPCT_mindspore.zip" target="_blank">Code</a>]
    </span>
    </li>
<!--paper6-->
<li style="margin-bottom: 1.5;">
<span>
<b>Yue Wu</b>, Hangqi Ding, Maoguo Gong, AK Qin, Wenping Ma, Qiguang Miao, Kay Chen Tan,
“Evolutionary multiform optimization with two-stage bidirectional knowledge transfer strategy for point cloud registration", 
<i>IEEE Transactions on Evolutionary Computation (<b>TEVC</b>)</i>, pp. 8-19, 2022.(<b>IF=16.49</b>) 
[<a href= "https://ieeexplore.ieee.org/document/9925083" target="_blank">Paper</a>]
[<a href= "https://github.com/ywu0912/TeamCode.git" target="_blank">Code</a>] 
</span>
</li>



<!--paper7-->
<li style="margin-bottom: 1.5;">
    <span>
    <b>Yue Wu</b>, Yue Zhang, Xiaolong Fan, Maoguo Gong, Qiguang Miao, Wenping Ma,
    “INENet: Inliers Estimation Network With Similarity Learning for Partial Overlapping Registration", 
    <i>IEEE Transactions on Circuits and Systems for Video Technology (<b>TCSVT</b>)</i>, pp. 8-10, 2022. 
    [<a href= "https://ieeexplore.ieee.org/document/9915616" target="_blank">Paper</a>]
    [<a href= "https://github.com/superYuezhang/INENet" target="_blank">Code</a>] 
    </span>
    </li>
<!--paper8-->
<li style="margin-bottom: 1.5;">
    <span>
        <b>Yue Wu</b>, Yibo Liu, Maoguo Gong, Peiran Gong, Hao Li, Zedong Tang, Qiguang Miao, Wenping Ma,
    “Multi-view point cloud registration based on evolutionary multitasking with bi-channel knowledge sharing mechanism", 
    <i>IEEE Transactions on Emerging Topics in Computational Intelligence (<b>TETCI</b>)</i>, pp. 357 - 374, 2022.
    [<a href= "https://ieeexplore.ieee.org/abstract/document/9903069" target="_blank">Paper</a>]
    [<a href= "https://github.com/ywu0912/TeamCode.git" target="_blank">Code</a>]  
    </span>
    </li>



<!--paper9-->
<li style="margin-bottom: 1.5;">
<span>
<b>Yue Wu</b>, Jiaheng Li, Yongzhe Yuan, AK Qin, Qiguang Miao, Maoguo Gong
“Commonality Autoencoder: Learning Common Features for Change Detection from Heterogeneous Images", 
<i>IEEE Transactions on Neural Networks and Learning Systems (<b>TNNLS</b>)</i>, pp. 2-18, 2021. (<b>IF=10.4</b>) 
[<a href= "https://ieeexplore.ieee.org/abstract/document/9357940" target="_blank">Paper</a>]
[<a href= "https://github.com/ywuchina/TeamCode/tree/main/COAE" target="_blank">Code</a>]  
</span>
</li>





















<!--通讯-->



<!--paper11-->
<li style="margin-bottom: 1.5;">
    <span><!--老师是通讯作者的在后面标注-->
    Yongzhe Yuan, <b>Yue Wu(Corresponding Author)</b>, Mingyu Yue, Maoguo Gong, Xiaolong Fan, Wenping Ma, Qiguang Miao,
    “Learning Discriminative Features via Multi-Hierarchical Mutual Information for Unsupervised Point Cloud Registration", 
    <i>IEEE Transactions on Circuits and Systems for Video Technology (<b>TCSVT</b>)</i>, 2024.
    [<a href= "https://ieeexplore.ieee.org/abstract/document/10475373" target="_blank">Paper</a>]
    [<a href= "https://github.com/ywu0912/TeamCode.git" target="_blank">Code</a>] 
    </span>
    </li>
<!--paper12-->
<li style="margin-bottom: 1.5;">
    <span>
    Jiaming Liu, <b>Yue Wu(Corresponding Author)</b>, Maoguo Gong, Zhixiao Liu, Qiguang Miao, Wenping Ma,
    “Inter-Modal Masked Autoencoder for Self-Supervised Learning on Point Clouds", 
    <i>IEEE Transactions on Multimedia (<b>TMM</b>)</i>, pp. 3897-3908, 2024.
    [<a href= "https://ieeexplore.ieee.org/abstract/document/10262210" target="_blank">Paper</a>]
    [<a href= "https://github.com/ywu0912/TeamCode.git" target="_blank">Code</a>]  
    </span>
    </li>









<!--paper9-->
<li style="margin-bottom: 1.5;">
<span>
Yongzhe Yuan,<b> Yue Wu(Corresponding Author)</b>, Xiaolong Fan, Maoguo Gong, Wenping Ma, Qiguang Miao,
“EGST: Enhanced Geometric Structure Transformer for Point Cloud Registration", 
<i>IEEE Transactions on Visualization and Computer Graphics (<b>TVCG</b>)</i>, 2023.(<b>CCF A</b>) 
[<a href= "https://ieeexplore.ieee.org/abstract/document/10319695" target="_blank">Paper</a>]
[<a href= "https://github.com/ywu0912/TeamCode.git" target="_blank">Code</a>] 
</span>
</li>


<!--paper10-->
<li style="margin-bottom: 1.5;">
<span>
Wenping Ma, Mingyu Yue, <b>Yue Wu(Corresponding Author)</b>, Yongzhe Yuan, Hao Zhu, Biao Hou, Licheng Jiao,
“Explore the Influence of Shallow Information on Point Cloud Registration", 
<i>IEEE Transactions on Neural Networks and Learning Systems (<b>TNNLS</b>)</i>, pp. 7-18, 2023.(<b>IF=10.4</b>) 
[<a href= "https://ieeexplore.ieee.org/abstract/document/10185932" target="_blank">Paper</a>]
[<a href= "https://github.com/ywu0912/TeamCode.git" target="_blank">Code</a>]  
</span>
</li>






<!--paper11-->
<li style="margin-bottom: 1.5;">
<span>
  Yongzhe Yuan, <b>Yue Wu(Corresponding Author)</b>, Jiayi Lei, Congying Hu, Maoguo Gong, Xiaolong Fan, Wenping Ma,
“Learning Compact Transformation Based on Dual Quaternion for Point Cloud Registration", 
<i>IEEE Transactions on Instrumentation and Measurement (<b>TIM</b>)</i>,  2022.
[<a href= "https://ieeexplore.ieee.org/abstract/document/10381830" target="_blank">Paper</a>]
[<a href= "https://github.com/ywu0912/TeamCode.git" target="_blank">Code</a>]  
</span>
</li>


<!--paper12-->
<li style="margin-bottom: 1.5;">
<span>
  Jiaming Liu; <b>Yue Wu(Corresponding Author)</b>; Maoguo Gong; Qiguang Miao; Wenping Ma; Fei Xie,
“Instance-Guided Point Cloud Single Object Tracking With Inception Transformer", 
<i>IEEE Transactions on Instrumentation and Measurement(<b>TIM</b>)</i>,  2022.
[<a href= "https://ieeexplore.ieee.org/abstract/document/10242082/" target="_blank">Paper</a>]
[<a href= "https://github.com/liujia99/PTIT" target="_blank">Code</a>]  
</span>
</li>



<!--paper13-->
<li style="margin-bottom: 1.5;">
<span>
  Maoguo Gong; Yuan Gao; <b>Yue Wu</b>; Yuanqiao Zhang; A. K. Qin; Yew-Soon Ong,
“Heterogeneous Multi-Party Learning With Data-Driven Network Sampling", 
<i>IEEE Transactions on Pattern Analysis and Machine Intelligence(<b>TPAMI</b>)</i>, pp. 13328 - 13343, 2023.(<b>CCF A, IF=23.6</b>) 
[<a href= "https://ieeexplore.ieee.org/abstract/document/10167861" target="_blank">Paper</a>]
[<a href= "" target="_blank">Code</a>] 
</span>
</li>
<li style="margin-bottom: 1.5;">
  <span>
    Xiaolong Fan, Maoguo Gong, <b>Yue Wu</b>, Hao Li,
  “Maximizing mutual information across feature and topology views for representing graphs", 
  <i>IEEE Transactions on Knowledge and Data Engineering (<b>TKDE</b>)</i>, pp. 10735 - 10747, 2023.(<b>CCF A</b>) 
  [<a href= "https://ieeexplore.ieee.org/abstract/document/10093032" target="_blank">Paper</a>]
  [<a href= "" target="_blank">Code</a>] 
  </span>
  </li>




<li style="margin-bottom: 1.5;">
    <span>
      Zedong Tang, Maoguo Gong, <b>Yue Wu</b>, A Kai Qin, Kay Chen Tan,
    “A multifactorial optimization framework based on adaptive intertask coordinate system", 
    <i>IEEE Transactions on Cybernetics (<b>TCYB</b>)</i>, pp. 6745 - 6758, 2021.(<b>CCF A, IF=11.8</b>) 
    [<a href= "https://ieeexplore.ieee.org/abstract/document/9325875" target="_blank">Paper</a>]
    [<a href= "" target="_blank">Code</a>]  
    </span>
    </li>




<li style="margin-bottom: 1.5;">
  <span>
    Xiaolong Fan, Maoguo Gong, <b>Yue Wu</b>, A Kai Qin, Yu Xie,
  “Propagation enhanced neural message passing for graph representation learning", 
  <i>IEEE Transactions on Knowledge and Data Engineering (<b>TKDE</b>)</i>, pp. 1952 - 1964, 2021.(<b>CCF A</b>) 
  [<a href= "https://ieeexplore.ieee.org/abstract/document/9508847" target="_blank">Paper</a>]
  [<a href= "" target="_blank">Code</a>] 
  </span>
  </li>












<li style="margin-bottom: 1.5;">
  <span>
    Zedong Tang, Maoguo Gong, <b>Yue Wu</b>, Wenfeng Liu, Yu Xie,
  “Regularized evolutionary multitask optimization: Learning to intertask transfer in aligned subspace", 
  <i>IEEE Transactions on Evolutionary Computation (<b>TEVC</b>)</i>, pp. 262 - 276, 2020.(<b>IF=14.3</b>) 
  [<a href= "https://ieeexplore.ieee.org/abstract/document/9195010" target="_blank">Paper</a>]
  [<a href= "" target="_blank">Code</a>] 
  </span>
  </li>



  <li style="margin-bottom: 1.5;">
    <span>
      Zedong Tang, Maoguo Gong, <b>Yue Wu</b>, Wenfeng Liu, Yu Xie,
    “Regularized evolutionary multitask optimization: Learning to intertask transfer in aligned subspace", 
    <i>IEEE Transactions on Evolutionary Computation (<b>TEVC</b>)</i>, pp. 262 - 276, 2020.(<b>IF=14.3</b>) 
    [<a href= "https://ieeexplore.ieee.org/abstract/document/9195010" target="_blank">Paper</a>]
    [<a href= "" target="_blank">Code</a>] 
    </span>
    </li>


    




</ul>

<!--会议论文-->
<p><b>Conferences</b>: </p>
<ul>
<!--一篇文章一个 li，最新发表的放在最上面，没有code就把code删了-->

<li style="margin-bottom: 1.5;">
<span>
  Cai Xu, Jiajun Si, Ziyu Guan, Wei Zhao, <b>Yue Wu</b>, Xiyue Gao,
“Reliable Conflictive Multi-View Learning", 
<i>Proceedings of the 38th AAAI Conference on Artificial Intelligence (<b>AAAI 2024 Outstanding Paper</b>)</i>, 2024.(<b>CCF A</b>) 
[<a href= "https://doi.org/10.1609/aaai.v38i11.29078" target="_blank">Paper</a>]
[<a href= "https://github.com/jiajunsi/RCML" target="_blank">Code</a>]
</span>
</li>  


<!--缺paper链接-->
<li style="margin-bottom: 1.5;">
  <span>Yongzhe Yuan, <b>Yue Wu(Corresponding Author)</b>, Xiaolong Fan, Maoguo Gong, Qiguang Miao, Wenping Ma, 
      “Inlier Confidence Calibration for Point Cloud Registration",
      <i>IEEE/CVF Conference on Computer Vision and Pattern Recognition (<b>CVPR</b>)</i>, 2024.(<b>CCF A</b>) 
      [<a  target="_blank">Paper</a>] 
      [<a href= "https://github.com/YYZMARS/ICC" target="_blank">Code</a>]
      </span>
</li>



<li style="margin-bottom: 1.5;">
    <span>Jiaming Liu, <b>Yue Wu(Corresponding Author)</b>, Maoguo Gong, Qiguang Miao, Wenping Ma, Cai Xu, Can Qin 
    “M3SOT: Multi-Frame, Multi-Field, Multi-Space 3D Single Object Tracking", 
    <i>Proceedings of the AAAI Conference on Artificial Intelligence (<b>AAAI</b>)</i>, pp. 3630-3638, 2024.(<b>CCF A</b>) 
    [<a href= "https://ojs.aaai.org/index.php/AAAI/article/view/28152" target="_blank">Paper</a>] 
    [<a href= "https://github.com/liujia99/M3SOT" target="_blank">Code</a>] 
    </span>
</li>



<!--缺代码-->
<li style="margin-bottom: 1.5;">
<span>
Xiaolong Fan, Maoguo Gong, <b>Yue Wu</b>, Zedong Tang, Jieyi Liu,
“Neural Gaussian Similarity Modeling for Differential Graph Structure Learning", 
<i>Proceedings of the 38th AAAI Conference on Artificial Intelligence (<b>AAAI</b>)</i>, 2024.(<b>CCF A</b>) 
[<a href= "https://doi.org/10.1609/aaai.v38i11.29078" target="_blank">Paper</a>]
[<a href= "" target="_blank">Code</a>] 
</span>
</li>  


<li style="margin-bottom: 1.5;">
<span>
Jiaming Liu, <b>Yue Wu(Corresponding Author)</b>, Maoguo Gong, Qiguang Miao, Wenping Ma, Cai Xu,
“Exploring Dual Representations in Large-Scale Point Clouds: A Simple Weakly Supervised Semantic Segmentation Framework", 
<i>Proceedings of the 31st ACM International Conference on Multimedia (<b>ACM MM</b>)</i>, pp. 2371–2380, 2023.(<b>CCF A</b>) 
[<a href= "https://dl.acm.org/doi/abs/10.1145/3581783.3612224" target="_blank">Paper</a>]
[<a href= "https://github.com/ywu0912/TeamCode.git" target="_blank">Code</a>] 
</span>
</li>  

 
</ul>


<hr>


