<h1 id="service">Academic Service</h1>

<p><b>Academic Organizations Serving:</b></p>
<ul>
  <li style="margin-bottom: 1.5%;">The Youth Committee Secretary-General of the CAAI (2022-present)</li>
  <li style="margin-bottom: 1.5%;">The Chairperson of CCF YOCSEF Xi'an (2021-2022)</li>
  <li style="margin-bottom: 1.5%;">The Secretary-General of the CCF Xi'an Branch (2020-2022)</li>
  <li style="margin-bottom: 1.5%;">IEEE Senior Member (2024-present)</li>
  <li style="margin-bottom: 1.5%;">The Member of the Committee on 3D Vision of the China Society for Image and Graphics (2022-present)</li>
</ul>

<p><b>Academic Journals Serving:</b></p>
<ul>
  <li style="margin-bottom: 1.5%;">Associate Editor of IEEE Transactions on Evolutionary Computation (IF: 12, SCI A1 TOP) (2024-present)</li>
  <li style="margin-bottom: 1.5%;">Associate Editor of Expert Systems with Applications (IF: 7.5, SCI A1 TOP) (2024-present)</li>
  <li style="margin-bottom: 1.5%;">Associate Editor of IEEE Transactions on Emerging Topics in Computational Intelligence (IF: 6.5) (2024-present)</li>
  <li style="margin-bottom: 1.5%;">Editorial Board Member of Frontiers of Computer Science (CCF B) (2022-present)</li>
  <li style="margin-bottom: 1.5%;">Editorial Board Member of CAAI Transactions on Intelligence Technology (IF: 7.3, SCI A1 TOP) (2022-present)</li>
  <li style="margin-bottom: 1.5%;">Special Issue Editor of Remote Sensing (SCI A2) (2022-present)</li>
</ul>

<p><b>Academic Conferences Serving:</b></p>
<ul>
  <li style="margin-bottom: 1.5%;">PC Member for NeurIPS 2024</li>
  <li style="margin-bottom: 1.5%;">PC Member for IJCAI 2024</li>
  <li style="margin-bottom: 1.5%;">PC Member for AAAI 2023</li>
  <li style="margin-bottom: 1.5%;">PC Member for ACM MM 2023</li>
  <li style="margin-bottom: 1.5%;">TC Member for IEEE CCIS 2022</li>
  <li style="margin-bottom: 1.5%;">OC Chair for IEEE CCIS 2021</li>
  <li style="margin-bottom: 1.5%;">Registration Chair for BIC-TA 2016</li>
  <li style="margin-bottom: 1.5%;">Vice Chair of Publications for CCF Big Data 2018</li>
</ul>

<hr>
